<h1 mat-dialog-title>{{data.existing ? 'Edit User' : 'Add User'}}</h1>
<div mat-dialog-content>
    <p>{{data.existing ? 'Make changes to a user.' : 'Add a new user to the database.'}}</p>
    <p *ngIf="data.user.id"><strong> ID: {{data.user.id}}</strong></p>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
            matInput
            [(ngModel)]="data.user.name"
            required
            aria-label="User name">
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Avatar</mat-label>
        <input
            matInput
            [(ngModel)]="data.user.avatar"
            aria-label="Avatar URL">
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
            matInput
            [formControl]="email"
            [(ngModel)]="data.user.email"
            aria-label="Email address"
            required>
        <mat-error *ngIf="email.errors">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="data.user.dob"
            aria-label="Date of birth"
            [max]="maxDate"
            [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onCloseConfirm()" [disabled]="!isValid()">Save</button>
</div>