<h1 class="header">User List</h1>

<div class="button-container">
    <button mat-raised-button (click)="newEntry()" class="demo-button">
        Add entry
    </button>
    <button mat-raised-button (click)="refreshList()" class="demo-button">
        Refresh list
    </button>
</div>

<table
    mat-table matSort
    [dataSource]="database.localData"
    class="mat-elevation-z8 demo-table"
    (matSortChange)="sortData($event)"
>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let entry">{{entry.id}}</td>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef>Avatar</th>
      <td mat-cell *matCellDef="let entry">
        <img [src]="entry.avatar" [alt]="entry.name" class="avatar">
      </td>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let entry">{{entry.name}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let entry">{{entry.email}}</td>
    </ng-container>

    <!-- Date-of-birth Column -->
    <ng-container matColumnDef="dob">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Date-of-birth</th>
        <td mat-cell *matCellDef="let entry">{{convertDate(entry.dob)}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
    [length]="database.rowCount"
    [pageSize]="database.pageSize"
    [pageSizeOptions]="[5, 10, 20, 30, 50]"
    (page)="onChangePage($event)"
    showFirstLastButtons 
    aria-label="Select page of users"
>
</mat-paginator>