.header {
	font-weight: 500;
	margin-top: 1rem;
}

mat-table {
	width: 100%;
	word-break: break-all;

	.selected {
		border-radius: 3px;
		box-shadow: inset 0px 0px 0px 2px #4c9bfe;
	}

	.mat-column-id {
		flex-basis: 0;
		min-width: 30px;

		@media (max-width: 450px) {
			padding-left: 16px;
		}
	}

	.mat-column-avatar {
		flex-basis: 5%;
		min-width: 60px;
	}

	.mat-column-name {
		flex-basis: 17%;
		min-width: 50px;
	}

	.mat-column-email {
		flex-basis: 25%;
		min-width: 100px;
	}

	.mat-column-dob {
		flex-basis: 25%;
		min-width: 75px;
		word-break: normal;
	}

	.avatar {
		width: 50px;
		margin: 5px 0;
	}
}

.button-container {
	margin: 15px 0;

	button:not(:first-of-type) {
		margin-left: 15px;
	}

	.right {
		float: right;
	}
}

.mat-paginator-sticky {
	bottom: 0px;
	position: sticky;
	z-index: 10;
  }