<h1 class="header">User List</h1>

<div class="button-container">
    <button mat-raised-button (click)="newEntry()">
        Add entry
    </button>
    <button mat-raised-button (click)="refreshList()">
        Refresh list
    </button>

    <button
        mat-raised-button
        color="warn"
        (click)="refreshList()"
        [disabled]="!selection.selected.length"
        class="right">
        Delete
    </button>
    <button mat-raised-button
        color="accent"
        (click)="newEntry()"
        [disabled]="!selection.selected.length"
        class="right">
        Edit
    </button>
</div>

<mat-table
    matSort
    [dataSource]="database.users"
    class="mat-elevation-z8"
    (matSortChange)="sortData($event)">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{entry.id}}</mat-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef>Avatar</mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <img [src]="entry.avatar" [alt]="entry.name" class="avatar">
      </mat-cell>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{entry.name}}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{entry.email}}</mat-cell>
    </ng-container>

    <!-- Date-of-birth Column -->
    <ng-container matColumnDef="dob">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Date of birth</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{convertDate(entry.dob)}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="selectRow(row)"
        [ngClass]="{'selected' : selection.isSelected(row)}">
    </mat-row>
</mat-table>

<mat-paginator
    [length]="database.rowCount"
    [pageSize]="database.pageSize"
    [pageSizeOptions]="[5, 10, 20, 30, 50]"
    (page)="onChangePage($event)"
    showFirstLastButtons 
    aria-label="Select page of users"
    class="mat-paginator-sticky"
>
</mat-paginator>