.header {
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 1rem;
}

.filter {
	height: 0;
	margin-top: 5px;
	overflow: hidden;
	transition: height 500ms;

	&.active {
		height: 50px;
	}
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;

	button {
		margin-top: 10px;

		&:not(:first-of-type) {
			margin-left: 15px;
		}
	}

	.spacer {
		flex: 1;
	}

	.group {
		margin-right: 13px;
	}
}

mat-table {
	width: 100%;
	word-break: break-all;

	.selected {
		border-radius: 3px;
		box-shadow: inset 0px 0px 0px 2px #4c9bfe;
	}

	mat-row {
		mat-cell {
			.mobile-header {
				display: none;
			}

			.avatar {
				width: 50px;
				margin: 5px 0;
			}
		}

		&:focus {
			background-color: #efefef;
			outline: none;
		}
	}

	@media (min-width: 768px) {
		.mat-column-id {
			flex-basis: 0;
			min-width: 30px;
	
			@media (max-width: 450px) {
				padding-left: 16px;
			}
		}
	
		.mat-column-avatar {
			flex-basis: 5%;
			min-width: 60px;
		}
	
		.mat-column-name {
			flex-basis: 20%;
			min-width: 50px;
		}
	
		.mat-column-email {
			flex-basis: 33%;
			min-width: 100px;
		}
	
		.mat-column-dob {
			flex-basis: 33%;
			min-width: 75px;
			word-break: normal;
		}
	}
}

.mat-paginator-sticky {
	bottom: 0px;
	position: sticky;
	z-index: 10;
  }

@media (max-width: 767px) {
	mat-table {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		mat-header-row {
			flex-basis: 100%;
			justify-content: center;
			margin-bottom: 10px;
			min-height: 45px;

			mat-header-cell {
				flex-basis: auto;
				flex-grow: 0;
				margin: 0 0.9%;

				&:first-of-type {
					padding-left: 0
				}

				&:last-of-type {
					padding-right: 0
				}

				// &.mat-column-id {
				// 	&::before {
				// 		content: "Sort:";
				// 		margin-right: 10px;
				// 		left: 25px;
				// 		position: absolute;
				// 	}
				// }

				&.mat-column-avatar {
					display: none;
				}

				.mat-sort-header-container {
					border-radius: 3px;
					border: 1px solid #e3e3e3;
					padding: 5px 5px 5px 7px;
				}
			}
		}

		mat-row {
			border-radius: 3px;
			border: 1px solid #c5c5c5;
			display: flex;
			flex-direction: column;
			margin: 6px;
			min-height: 0;
			padding: 10px;
			width: calc(50% - 20px);

			mat-cell {
				flex: initial;
				padding: 4px;
				width: 100%;

				&:not(:last-of-type) {
					border-bottom: 1px solid #f0f0f0;
				}

				.mobile-header {
					color: #555555;
					display: inline;
					font-weight: 500;
				}

				.flex-spacer {
					flex: 1;
				}

				.value {
					display: flex;
				}
			}
		}
	}
}

@media (max-width: 650px) {
	mat-table {
		mat-row {
			margin: 6px 13px;
			max-width: 320px;
			width: 100%;
		}
	}
}