<h1 class="header">User List</h1>

<mat-form-field [ngClass]="{'active' : database.filtering.active}" class="filter">
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>

<div class="button-container">
    <div class="group">
        <button mat-raised-button (click)="userChange(true)">
            Add entry
        </button>
        <button mat-raised-button (click)="refreshList()">
            Refresh
        </button>
        <button mat-raised-button (click)="toggleFiltering()">
            Filter
        </button>
    </div>
    <div class="spacer"></div>
    <div>
        <button mat-raised-button
            color="accent"
            (click)="userChange()"
            [disabled]="!selection.selected.length">
            Edit
        </button>
        <button
            mat-raised-button
            color="warn"
            (click)="deleteUser(this.selection.selected[0].id)"
            [disabled]="!selection.selected.length">
            Delete
        </button>
    </div>
</div>

<mat-table
    matSort
    [dataSource]="database.users"
    class="mat-elevation-z8"
    (matSortChange)="sortData($event)">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let entry"><span class="mobile">ID:&nbsp;</span>{{entry.id}}</mat-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef>Avatar</mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <span class="mobile">Avatar:&nbsp;</span>
        <img *ngIf="entry.avatar" [src]="entry.avatar" [alt]="entry.name" class="avatar">
      </mat-cell>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let entry"><span class="mobile">Name:&nbsp;</span>{{entry.name}}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let entry"><span class="mobile">Email:&nbsp;</span>{{entry.email}}</mat-cell>
    </ng-container>

    <!-- Date-of-birth Column -->
    <ng-container matColumnDef="dob">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Date of birth</mat-header-cell>
        <mat-cell *matCellDef="let entry"><span class="mobile">Date of birth:&nbsp;</span>{{convertDate(entry.dob)}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="selectRow(row)"
        [ngClass]="{'selected' : selection.isSelected(row)}">
    </mat-row>
</mat-table>

<mat-paginator
    [length]="database.rowCount"
    [pageSize]="database.pageSize"
    [pageSizeOptions]="[5, 10, 20, 30, 50]"
    (page)="onChangePage($event)"
    showFirstLastButtons 
    aria-label="Select page of users"
    class="mat-paginator-sticky">
</mat-paginator>